body {
  padding:0;
  margin:0;
}
h1 {
  font-size:65px;
  font-weight:bold;
}
h4 {
  font-size:50px;
}
h5 {
  font-size:48px;
}
h6 {
  font-size:45px
}
textarea {
  border:none;
  overflow:hidden;
  resize:none;
  outline:none;
  text-overflow:ellipsis;
  width:100%;
  height:70%;
  font-size:40px;
}
#logo {
  min-width:50px;
  margin-left:3%;
}

#nav {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background:linear-gradient(#FFDC83, #FAE4AD);
  /* position:fixed; */
  top:0;
  z-index:100;
}
#navdrop {
  position:absolute;
  list-style:none;
  margin-top:auto;
  padding-bottom:1em;
  width:100%; 
  background:#FAE4AD;
  flex-direction:column;
  justify-content:space-between;
  align-items: flex-end;
  padding-right:3%;
  font-size:40px;
}
#navicon {
  display:block;
  margin-right:3%;
  width:6%;
  border:none;
  background-color:transparent;
  min-width:40px;
}

#depts {
  background-image:url('./img/DEPTS BG.jpg');
  padding:5em;
}
.dept-card {
  padding:1em;
  margin-bottom:3em;
  background:white;
  border-radius:15px;
  font-family:'Lato', sans-serif;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:1000px;
}

#events {
  background-image:url('./img/paint splotch.jpg');
  padding:5em;
}
.event-card {
  height:500px;
  margin-bottom:3em;
  background-size:cover;
  display:flex;
  justify-content:center;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery {
  background-image:url('./img/paint splotch.jpg');
  padding:5em;
}
.gallery-card {
  height:500px;
  min-height:300px;
  margin-bottom:3em;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery-card-art {
  height:90%;
  background-size:cover;
}
.gallery-card-bar {
  height:10%;
  padding-left:6px;
  padding-right:6px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
}

.inner-white {
  width:75%;
  height:100%;
  background:white;
  padding:2em;
}
.translucent {
  opacity:79%;
  /* filter:blur(8px);
  -webkit-filter:blur(8px); */
}

/* iPad and bigger */
@media (min-width: 1024px) {
  #navicon {
    display:none;
  }
  #navlist {
    display:flex;
    list-style:none;
    justify-content:space-between;
    align-items:center;
    width:60%;
    margin-right:5%;
  }
  .dept-card {
    height:500px
  }
}