body {
  padding:0;
  margin:0;
}
h1 {
  font-size:65px;
  font-weight:bold;
}
h4 {
  font-size:50px;
}
h5 {
  font-size:48px;
}
h6 {
  font-size:45px
}
textarea {
  border:none;
  overflow:hidden;
  resize:none;
  outline:none;
  padding:0;
  margin:0;
  text-overflow:ellipsis;
  width:100%;
  height:70%;
  font-size:40px;
}
p {
  font-size:40px;
}
#logo {
  width:200px;
  margin-left:3%;
  position:fixed;
  top:2%;
  z-index:100;
}

#nav {
  display:flex;
  height:170px;
  justify-content:space-between;
  background:linear-gradient(#FFDC83, #FAE4AD);
  position:relative;
  top:0;
  z-index:100;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navdrop {
  position:absolute;
  list-style:none;
  margin-top:auto;
  padding-bottom:1em;
  width:100%; 
  background:#FAE4AD;
  flex-direction:column;
  justify-content:space-between;
  align-items: flex-end;
  padding-right:3%;
  font-size:40px;
  z-index:99;
}
#navdrop li {
  margin-top:10%;
}
#navlist {
  display:none;
}
#navicon {
  display:block;
  margin-right:3%;
  margin-left:auto;
  width:95px;
  border:none;
  background-color:transparent;
  min-width:40px;
}

#depts {
  background-image:url('./img/DEPTS BG.jpg');
  padding:5em;
}
.dept-card {
  padding:1em;
  margin-bottom:7em;
  background:white;
  border-radius:15px;
  font-family:'Lato', sans-serif;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:1000px;
}

#events {
  background-image:url('./img/paint splotch.jpg');
  padding:5em;
}
.event-card {
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  height:800px;
  margin-bottom:3em;
  background-size:cover;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blur {
  position:absolute;
  background-size:cover;
  width:65%;
  height:800px;
  margin-top:2px;
  -webkit-filter:blur(5px); filter: blur(8px); -moz-filter:blur(20px); -ms-filter: blur(5px);
}
.event-inner {
  display:none;
}
.event-inner-mobile {
  width:75%;
  height:80%;
  background:transparent;
  padding:2em;
  z-index:90;
}

#gallery {
  background-image:url('./img/paint splotch.jpg');
  padding:5em;
}
.gallery-card {
  height:1000px;
  min-height:300px;
  margin-bottom:3em;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.gallery-card-art {
  height:90%;
  background-size:cover;
  background-position:center;
}
.gallery-card-bar {
  height:10%;
  padding-left:5%;
  padding-right:5%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:white;
}

/* tablets */
@media (min-width: 768px) {

}

/* desktops */
@media (min-width: 1024px) {
  body {
    padding-top:150px;
  }
  h1 {
    font-size:45px;
  }
  h4 {
    font-size:25px;
  }
  h5 {
    font-size:20px;
  }
  h6 {
    font-size:18px;
  }
  p {
    font-size:16px;
  }
  textarea {
    font-size:16px;
  }
  #nav {
    height:100px;
    width:100%;
    position:fixed;
  }
  #navicon {
    display:none;
  }
  #navlist {
    display:flex;
    list-style:none;
    margin-left:auto;
    justify-content:space-between;
    align-items:center;
    width:60%;
    height:100%;
    margin-right:5%;
  }
  .dept-card {
    height:475px;
  }
  .gallery-card {
    height:400px;
  }
  .event-card {
    height:400px;
  }
  .event-inner {
    display:block;
    height:400px;
    width:70%;
    background:white;
    padding:2em;
    box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    opacity:79%;
  }
  .event-inner-mobile {
    display:none;
  }
  .blur {
    height:400px;
  }
}