body {
  padding:0;
  margin:0;
}

#nav {
  display:flex;
  background:linear-gradient(#FFDC83, #FAE4AD);
  /* position:fixed; */
  top:0;
  z-index:10;
}

#dept-page {
  background-image: url('./img/DEPTS BG.jpg');
  padding:5em;
}

.dept-card {
  padding:1em;
  margin-bottom:3em;
  background:#FFFFFF;
  border-radius:5px;
  font-family: 'Lato', sans-serif;
  box-shadow:0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:350px;
}

.dept-card:hover {
  height:500px;
  position:absolute;
  box-shadow:0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index:20;
}